.stars{
	width: 200px;
	height: 50px;
	margin-top: -25px;
	margin-left: -100px;
	position: absolute;
	top: 50%;
	left: 50%;
	display: table;
}
.stars span{
	display: table-cell;
	position: relative;
	width: 24%;
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
}
