.stars{
	width: 400px;
	height: 140px;
	margin-top: -70px;
	margin-left: -200px;
	position: absolute;
	top: 50%;
	left: 50%;
	display: table;
}
.stars span{
	display: table-cell;
	position: relative;
	width: 24%;
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: bottom;
	font-size: 100px;
}
.timesheet, #show{
	display:none;
}
